#game-area {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid #333;
    overflow: hidden;
    background: #f0f0f0;
}

.word {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #333;
    transition: transform linear;
}